@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply ; */
  background-color: #eaeaea;
  font-family: "Nunito", sans-serif;
}

@layer components {
  .btn {
    @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm text-white;
  }
  .bg-green {
    @apply text-[#12b488];
  }
  .card {
    @apply p-3 rounded-md bg-white shadow-md h-full;
  }
  .thumb {
    @apply p-2.5 shadow-md rounded flex w-full mr-auto h-64;
  }

  .l-wrapper {
    @apply max-w-screen-xl mx-auto px-10;
  }
  .hover {
    background-color: rgb(75 85 99 / 1);
  }
  .important {
    /* width: 15%  !important; */
    cursor: pointer;
  }
  
}


.input {
  @apply w-full mt-1 border border-gray-500 rounded-md shadow-sm sm:text-sm p-3 shadow-sm;
}

.invalid-feedback {
  @apply text-red-500 sm:text-xs mb-4;
}
.label {
  @apply block text-xs font-medium text-gray-700;
}

.cardDetails {
  @apply relative w-full border-gray-200  focus:z-10 sm:text-sm;
}

.termsTitle {
  @apply font-bold sm:text-2xl text-gray-900 text-xl;
}

.termsCopy {
  @apply md:text-base md:leading-loose text-gray-700 dark:text-gray-300 w-11/12;
}

.termsList {
  @apply h-2 w-2 rounded-full bg-gray-500 absolute left-0 mt-3;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s;
}
.slide-left-enter-from {
  opacity: 0;
  transform: translate(50px, 0);
}
.slide-left-leave-to {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-enter-from {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translate(50px, 0);
}
