@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply ; */
  background-color: #EAEAEA;
  font-family: 'Nunito', sans-serif;
}

@layer components {
  .btn {
    @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm text-white;
  }
  .bg-green {
    @apply text-[#12b488];
  }
  .card {
    @apply p-3 rounded-md bg-white shadow-md h-full;
  }
  .thumb {
    @apply p-2.5 shadow-md rounded flex w-full mr-auto h-64;
  }

  .l-wrapper {
    @apply max-w-screen-xl mx-auto px-10 
  }
}


.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s;
}
.slide-left-enter-from {
  opacity: 0;
  transform: translate(50px, 0);
}
.slide-left-leave-to {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-enter-from {
  opacity: 0;
  transform: translate(-50px, 0);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translate(50px, 0);
}